
.roundedvbox {
    -fx-background-color: #EBC95E; /* Color de fondo, si es necesario */
    -fx-background-radius: 0 0 50 50; /* Radio de las esquinas */
    /* -fx-border-radius: 10; */
   
}

.button {
     -fx-background-color: #EBC95E; /* Color de fondo, si es necesario */
    -fx-background-radius: 50; /* Radio de las esquinas */
    /* -fx-border-radius: 10; */
    
}